/* Index
 * ------------------------
 */
.index__section-title {
  text-align: center;
  font-size: 36px;
  line-height: 2;
  margin-bottom: 10px;
  font-weight: 400;
  color: $masterTitle;
}
.index__section-title:before {
  content: '';
  border-top: 3px solid #00c1ff;
  position: absolute;
  top: 0;
  width: 30px;
  margin: auto;
  display: inline-block;
  left: 0;
  right: 0;
}
.index__section__description {
  font-size: 15px;
}
.sideProject header {
  margin-bottom: 20px;
}
.sideProject .index__section__description {
  margin-bottom: 20px;
}
.sideProject__list-wrap .portfolioFilter-menu {
  margin-bottom: 30px;
  justify-content: center;
}
.sideProject__list-wrap .portfolioFilter-menu .filter-item {
  font-size: 14px;
}
.sideProject__list-wrap .portfolioFilter-menu .filter-item:not(:last-child) {
  margin-right: 10px;
}
.sideProject__list-wrap .portfolioFilter-menu .filter-item a {
  padding: 5px 9px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}
.sideProject__list-wrap .portfolioFilter-menu .filter-item a.current,
.sideProject__list-wrap .portfolioFilter-menu .filter-item a:hover {
  background-color: $masterTitle;
  color: #fff;
}
.sideProject__list-wrap article.index__sideProjectBox {
  cursor: pointer;
}
.sideProject__list-wrap article.index__sideProjectBox .sideProject-img {
  position: relative;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.19);
}
.sideProject__list-wrap article.index__sideProjectBox .sideProject__meta {
  position: absolute;
  opacity: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.69);
  display: table;
  width: 100%;
  height: 100%;
}
.sideProject__list-wrap article.index__sideProjectBox .sideProject__meta .sideProject__meta-title {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.sideProject__list-wrap article.index__sideProjectBox .sideProject__meta .sideProject__meta-title .btn {
  background-color: $masterTitle;
  font-size: 14px;
  border: 0;
  transition: 0.3s ease-in-out;
}
.sideProject__list-wrap article.index__sideProjectBox .sideProject__meta .sideProject__meta-title .btn:hover {
  background-color: #fef619;
  color: #000;
  transition: 0.3s ease-in-out;
}
.sideProject__list-wrap article.index__sideProjectBox:hover .sideProject__meta {
  opacity: 1;
  transition: 0.2s linear 0.1s;
}
.sideProject__list-wrap .sideProject__name {
  text-align: center;
  color: #343434;
  padding: 10px 0 30px;
  font-size: 14px;
}
.index__bottomHeadLine {
  padding: 95px 0px 86px 0px;
  background-color: $first-color;
  color: #fff;
  text-align: center;
}
.index__bottomHeadLine h3 {
  font-size: 25px;
}
.index__bottomHeadLine h1 {
  font-size: 35px;
  line-height: 2.3;
  font-weight: bold;
}
.index__bottomHeadLine h1 .description {
  font-size: 15px;
}
