extends include/_layout
block content
    main.page__main.page__sideproject__maskmap
        section.breadcrumb-wrap
            .container
                .row
                    .col-md-6
                        h1.breadcrumb__pageTitle 口罩地圖
                    // 麵包屑
                    .col-md-6
                        nav.jh-breadcrumb
                            ol
                                li
                                    a(href='index.html') Home
                                li
                                    a(href='side-project-list.html') Side Project
                                li 口罩地圖
        section.page__section.sideProject__project
            .container
                .row
                    .col-sm-12
                        .project-title 口罩地圖 Where My Mask?
                        hr
                        .project-detail
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi culpa cum debitis est explicabo fuga ipsa ipsam iusto libero maiores numquam odio officia placeat tempore, voluptas voluptatibus. Distinctio, repellat?
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi culpa cum debitis est explicabo fuga ipsa ipsam iusto libero maiores numquam odio officia placeat tempore, voluptas voluptatibus. Distinctio, repellat?
                        .project-info
                            ul
                                li 技術:
                                li 製作時間:
                                li 網址:
                                li Github:
                .row
                    -for(let i=1;i<=8;i++)
                        +project__image-item('img/255x193.png','')
                .row
                    .col-sm-12
                        .project-ref
                            .projectRef-title 參考資料
                            hr
                            ul
                                li 參考網站 1
                                li 參考網站 2
                                li 參考網站 3