extends ../include/_layout-inner
//-###################

//- 宣告
//-###################
block var
    -fileRootPath = '../'
    -var pageTitle = '口罩地圖'


//- 專案簡介與特點
//-###################
block detail
    p 串接健保署的口罩剩餘數量 API，將資料以地圖座標方式呈現，讓使用者可以找到自己附近仍有剩餘口罩的藥局，以便用最短的時間買到口罩。
        ol
            li 用行政區、城市篩選，即時更新有剩餘庫存的店家列表，並同步座標顯示在地圖上。
            li 可依照所有口罩、成人口罩、兒童口罩，分別篩選功能。
            li 點選尚有庫存店家列表的店家名稱，可以即時定位顯示於地圖上。
            li 點選地圖座標點上的店家地址，可連結至 Google 地圖察看更多資訊或導航。
            li 點選店家電話，可直接撥打電話（手機裝置）。


//- 使用技術、關鍵字以及製作時間
//-###################
block info
    ul
        li 技術：Pug、SCSS、Javascript、AJAX
        li 製作時間：2 個月
        li
            | 網址：
            a(href='https://john8895.github.io/maskmap/',target='_blank',title='口罩地圖 Where My Mask?') https://john8895.github.io/maskmap/

        li
            | Github：
            a(href='https://github.com/john8895/maskmap',target='_blank',title='口罩地圖 Where My Mask?') https://github.com/john8895/maskmap


//- 專案相關圖片
//-###################
block images
    -for (let i = 1; i <= 4; i++)
        +project__image-item(`../img/side-project/maskmap/project-image-maskmap${i}.jpg`,'maskmap',pageTitle)


//- 學習心得分享
//-###################
block exp-detail
    p
        | &emsp;&emsp;這是我第一次嘗試實做稍有規模的專案，用到了很多我還沒掌握的技術，像是遠端資料的串接、圖資的導入、圖層的運用以及函式的使用、函式回調等等，完成這個專案讓我成長不少，也更瞭解 JS 的基礎觀念。
    p
        | &emsp;&emsp;約在 2 月份疫情剛爆發時，由知名線上學習平台〔六角學院〕的校長廖洧傑的號召，我也加入了串接健保署資料製作口罩地圖的行列，製作時間之所以會拉長到 2 個月，主要是因為前面遇到一個地方卡關久久無法突破，所以才停止了好一段時間，後來重新看了廖老師的教學好幾回，才慢慢理解問題的本質，進而突破關口，記得看到結果的那一天讓我興奮得不得了呢！
    p
        | &emsp;&emsp;我當時遇到了幾個問題：
    p
        | &emsp;&emsp;第一、當使用者點選縣市行政區篩選之後，右側的地圖應該同步更新上面的標記點，但我不知道該怎麼刪除所有的 Marker，再重新創建 Marker，後來我才理解到，地圖上的 Marker及很多圖示、說明，都是一層一層疊加上去的，有點像 PhotoShop 的圖層概念，只要掌握這個觀念，加上地圖 API 提供的 `map.removeLayer(markers)` 方法，就能達到目的。
    p
        | &emsp;&emsp;第二、在遠端的原始資料上，店家的地址中有兩種「台」字，分別是「臺」與「台」，我想到的辦法只有在資料進來的時候，先對所有資料跑一次迴圈，去整合成同一種台，再進行資料的篩選，或是用兩種台去搜尋兩次，可是可想而知程式的效率一定會很差。
    p
        | &emsp;&emsp;後來去請教後端同事，同事給的方法，是將輸入的搜尋字串，由單一的「台」改成一個含有「台」與「臺」的數組，透過 forEach 的方式去篩選數據，最後再將得到的結果合併成一個。
    p
        | &emsp;&emsp;第三、在資料篩選及顯示於畫面這一塊，我也花了很多時間，主要的問題是在於程式邏輯的處理還不是非常直觀，有時候因為想法偏差了以致一直處理不好程式，最後經過後端同事的指導，才對程式的理解又更完整了一些。


//- 參考資料
//-###################
block ref
    ul
        li
            a(href='https://youtu.be/pUizu62dlnY', target='_blank') Leaflet + OpenStreetMap 地圖應用開發
        li
            a(href='https://leafletjs.com/', target='_blank') Leaflet