footer.footer
    a#gotop(href='#',title='')
        i.fas.fa-long-arrow-alt-up
        |TOP

    .footer__wrapper
        .container
            .row
                .col-sm-12.footer__info-wrapper
                    .footer__info
                        .footer__brand.brand.text-uppercase
                            i.fab.fa-github-alt.fa-lg.mr-2
                            span.brand-text
                                | TaiwanJohn
                        .footer__copyright
                            //a(href='index.html',title='TAIWANJOHN') TAIWANJOHN
                            p
                                |  Designed by&nbsp;
                                a(href='http://www.taiwanjohn.tw/', title='台灣匠 TAIWANJOHN', target='_blank') 陳政翰

                    .footer__siteMap
                        a(href='sitemap.html',title='SiteMap')
                            i.fas.fa-sitemap.mr-2
                            | SiteMap