script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js')
//-script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
//-script(src='https://use.fontawesome.com/releases/v5.0.0/js/fontawesome.js')
//- 一次載入所有的圖示
script(type='text/javascript', href='https://use.fontawesome.com/releases/v5.0.0/js/all.js', defer)

script(type='text/javascript', src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js')
script.
    $(window).on('load', function () {
        var $container = $('.portfolioContainer');
        $container.isotope({
            filter: '*',
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });
        $('.portfolioFilter-menu > li > a').click(function () {
            console.log('e');

            $('.portfolioFilter-menu > li .current').removeClass('current');
            $(this).addClass('current');
            var selector = $(this).attr('data-filter');
            $container.isotope({
                filter: selector,
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });
            return false;
        });

    });