extends ../include/_layout
block var
    -fileRootPath = '../'
    -var pageTitle = '口罩地圖'
block head
    include ../include/_head-inner
block content
    main.page__main.page__sideproject
        section.breadcrumb-wrap
            .container
                .row
                    .col-md-6
                        h1.breadcrumb__pageTitle
                            =pageTitle
                    // 麵包屑
                    .col-md-6
                        nav.jh-breadcrumb
                            ol
                                li
                                    a(href='index.html') Home
                                li
                                    a(href='side-project-list.html') Side Project
                                li=pageTitle
        section.page__section.sideProject__project
            .container
                .row
                    .col-sm-12
                        .project-title=pageTitle
                        hr
                        .project-detail
                            block detail
                                p 文字
                                ol
                                    li 文字
                        .project-info
                            block info
                                ul
                                    li 技術：Pug、SCSS、Javascript、AJAX
                                    li 製作時間：
                                    li
                                        | 網址：
                                        a(href='https://john8895.github.io/maskmap/',target='_blank',title='口罩地圖 Where My Mask?') https://john8895.github.io/maskmap/

                                    li
                                        | Github：
                                        a(href='https://github.com/john8895/maskmap',target='_blank',title='口罩地圖 Where My Mask?') https://github.com/john8895/maskmap

                .row.project-image-wrap
                    block images
                        -for (let i = 1; i <= 8; i++)
                            +project__image-item('../img/255x193.png','images',pageTitle)
                .row
                    .col-sm-12
                        .project-experience
                            .projectExp-title 學習心得
                            hr
                            .exp-detail
                                block exp-detail
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet commodi cupiditate dolor doloremque eos et iste officiis possimus. Alias assumenda at dignissimos ea eveniet inventore, magnam quod voluptatibus!
                .row
                    .col-sm-12
                        .project-ref
                            .projectRef-title 參考資料
                            hr
                            block ref
                                ul
                                    li 參考網站 1
                                    li 參考網站 2
                                    li 參考網站 3