include _mixins
doctype html
html(lang='zh-Hant')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2")
        title 台灣匠的部落格 | 陳政翰 ( John )'s Resume
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css")
        block var
            // -var path='index'
            // -var path='page'
        block head
            include _head
    body
        block header
            header(class='page__index')
                include _header
        block content
        block footer
            include _footer
        block js
            include _js
    