/* Footer
 * ------------------------
 */
.footer
    position: relative;
    background-color #30333D
    padding: 52px 0 40px
    jh-flex()
    justify-content start
    color #fff

    // goTop btn
    #gotop
        position: absolute;
        top: 0
        left: 0
        right: 0
        border-radius 50%
        background-color $first-color
        width: 50px
        height: 50px
        margin: auto
        color #fff
        display block
        text-align: center;
        transform: translateY(-23px);
        font-size: 15px

        i
            display block
            margin-bottom: 3px

// Main
.footer__wrapper
    width: 100%

.footer__info-wrapper
    jh-flex()
    justify-content space-between

    a
        color #ccc
        &:hover
            color #fff

    .footer__info
        jh-flex()
        justify-content start

        //LOGO
        //.footer__brand

        //版權
        .footer__copyright
            margin-left: 10px

    //網站地圖
    //.footer__siteMap

