/* Side Project
 * ------------------------
 */
.sideProject__project

    hr
        height: 1px
        border-top 2px solid #666
        display block

    //主標
    .project-title
        font-size: 30px
        font-weight: bold;
        margin-bottom: 20px

    //簡述
    .project-detail
        font-size: 15px
        line-height: 1.7
        margin-bottom: 30px

    //專案細節
    .project-info

        ul
            margin-left: 20px
            margin-bottom: 30px

            li
                padding-left: 20px
                &:before
                    fontAwesome-icon('\101')
                a
                    color $first-color
                    //&:hover


    //專案圖片
    .project-image
        margin-bottom: 20px

    //參考資料
    .project-ref
        margin-top: 30px

    //標題
    .projectRef-title
        font-size: 30px

        //ul
        //    li
        //        &:hover