/* Side Project
 * ------------------------
 */
.sideProject__project

    hr
        height: 1px
        border-top 2px solid #666
        display block

    //主標
    .project-title
        font-size: 30px
        font-weight: bold;
        margin-bottom: 20px

    //簡述
    .project-detail
        font-size: 17px
        line-height: 1.7
        margin-bottom: 20px
        //padding: 10px 20px 0;
        p
            margin-bottom: 20px
            font-size: 18px
            line-height: 1.7
        ol,ul
            list-style-type circle
            margin-left: 40px

    //專案細節
    .project-info

        ul
            margin-left: 20px
            margin-bottom: 30px
            font-size: 18px

            li
                padding-left: 20px
                line-height: 1.85

                &:before
                    fontAwesome-icon('\f105')
                    margin-right: 7px
                    color #c3c3c3
                a
                    color $first-color
                    //&:hover


    //專案圖片
    .project-image-wrap
        margin-bottom: 20px
    .project-image
        margin-bottom: 20px

    /* 參考資料
     * ------------------------
     */
    .project-ref
        margin-top: 30px
        ul
            li
                padding-left: 20px
                line-height: 1.85

                &:before
                    fontAwesome-icon('\f105')
                    margin-right: 7px
                    color #c3c3c3

    //標題
    .projectRef-title,
    .projectExp-title
        font-size: 22px
        font-weight: bold;


    /* 學習心得
     * ------------------------
     */
    .project-experience
        margin-bottom: 20px
        .exp-detail
            p
                margin-bottom: 20px
                line-height: 1.7
                font-size: 18px